# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.pyl

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.mo
db.sqlite3
media/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS junk files
.DS_Store
.Trashes
Thumbs.db

# My stuff
my_custom_ignored_file.txt

*.sqlite3